## Importing libraries

In [1]:
import pandas as pd
import numpy as np

## Loading the dataframe

In [2]:
df = pd.read_csv('motor.csv')

C:\Users\JCC\AppData\Local\Temp\ipykernel_21036\4006182446.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('motor.csv')

## Inspecting the data

In [3]:
df.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,03/26/2022,11:45,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,11/01/2023,1:29,BROOKLYN,11230.0,40.62179,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,NaN,...,Unspecified,Unspecified,NaN,NaN,4675373,Moped,Sedan,Sedan,NaN,NaN
3,06/29/2022,6:55,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
4,09/21/2022,13:21,NaN,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4566131,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE',
       'LONGITUDE', 'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME',
       'OFF STREET NAME', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED', 'CONTRIBUTING FACTOR VEHICLE 1',
       'CONTRIBUTING FACTOR VEHICLE 2', 'CONTRIBUTING FACTOR VEHICLE 3',
       'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5',
       'COLLISION_ID', 'VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2',
       'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2196754 entries, 0 to 2196753
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 486.0+ MB

In [6]:
df.describe()

,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
count,1.956597e+06,1.956597e+06,2.196736e+06,2.196723e+06,2.196754e+06,2.196754e+06,2.196754e+06,2.196754e+06,2.196754e+06,2.196754e+06,2.196754e+06
mean,4.060019e+01,-7.370209e+01,3.251998e-01,1.568245e-03,5.912087e-02,7.766004e-04,2.865728e-02,1.233638e-04,2.329269e-01,6.391248e-04,3.248715e+06
std,2.242597e+00,4.177683e+00,7.124330e-01,4.178582e-02,2.491214e-01,2.848692e-02,1.690370e-01,1.114716e-02,6.736136e-01,2.759756e-02,1.508704e+06
min,0.000000e+00,-2.013600e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.200000e+01
25%,4.066739e+01,-7.397457e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.185309e+06
50%,4.072032e+01,-7.392687e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.734660e+06
75%,4.076958e+01,-7.386662e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.284070e+06
max,4.334444e+01,0.000000e+00,4.300000e+01,8.000000e+00,2.700000e+01,6.000000e+00,4.000000e+00,2.000000e+00,4.300000e+01,5.000000e+00,4.833511e+06

* **`CRASH_DATE`**: The full date the collision occurred. (**Datetime**)
* **`CRASH_TIME`**: The local time the collision occurred. (**Categorical/Time**)
* **`BOROUGH`**: The NYC borough where the collision took place (e.g., Brooklyn, Queens). (**Categorical**)
* **`ZIP CODE`**: The 5-digit postal code for the collision location. (**Categorical**)
* **`LATITUDE`**: The latitude coordinate of the collision, representing the north-south position. (**Numerical**)
* **`LONGITUDE`**: The longitude coordinate of the collision, representing the east-west position. (**Numerical**)
* **`LOCATION`**: A single field combining latitude and longitude coordinates. (**Categorical/Object**)
* **`ON STREET NAME`**: The name of the street where the collision occurred. (**Categorical**)
* **`CROSS STREET NAME`**: The name of the nearest intersecting street. (**Categorical**)
* **`NUMBER OF PERSONS INJURED`**: A count of all people injured in the collision. (**Numerical**)
* **`NUMBER OF PERSONS KILLED`**: A count of all people killed in the collision. (**Numerical**)
* **`CONTRIBUTING FACTOR VEHICLE 1`**: The primary reason determined for the collision, attributed to the first vehicle. (**Categorical**)
* **`VEHICLE TYPE CODE 1`**: The type of the first vehicle involved (e.g., 'Sedan', 'Truck', 'Bike'). (**Categorical**)
* **`COLLISION_ID`**: A unique identification number assigned to each collision record. (**Categorical/Identifier**)

In [7]:
df.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           675613
ZIP CODE                          675887
LATITUDE                          240157
LONGITUDE                         240157
LOCATION                          240157
ON STREET NAME                    476352
CROSS STREET NAME                 838902
OFF STREET NAME                  1812776
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       7667
CONTRIBUTING FACTOR VEHICLE 2     350734
CONTRIBUTING FACTOR VEHICLE 3    2037979
CONTRIBUTING FACTOR VEHICLE 4    2160538
CONTRIBUTING FACTOR VEHICLE 5    2186842
COLLISION_ID                           0
VEHICLE TYPE CODE 1                15752
VEHICLE TYPE CODE 2               437504
VEHICLE TYPE CODE 3              2044099
VEHICLE TYPE CODE 4              2161842
VEHICLE TYPE CODE 5              2187150
dtype: int64

## Cleaning the data

In [8]:
# Dropping a non-critical column with many missing values
new_df = df.drop(columns=['OFF STREET NAME'])

In [9]:
new_df.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           675613
ZIP CODE                          675887
LATITUDE                          240157
LONGITUDE                         240157
LOCATION                          240157
ON STREET NAME                    476352
CROSS STREET NAME                 838902
NUMBER OF PERSONS INJURED             18
NUMBER OF PERSONS KILLED              31
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1       7667
CONTRIBUTING FACTOR VEHICLE 2     350734
CONTRIBUTING FACTOR VEHICLE 3    2037979
CONTRIBUTING FACTOR VEHICLE 4    2160538
CONTRIBUTING FACTOR VEHICLE 5    2186842
COLLISION_ID                           0
VEHICLE TYPE CODE 1                15752
VEHICLE TYPE CODE 2               437504
VEHICLE TYPE CODE 3              2044099
VEHICLE TYPE CODE 4              2161842
VEHICLE TYPE CODE 5              2187150
dtype: int64

In [10]:
df.count()

CRASH DATE                       2196754
CRASH TIME                       2196754
BOROUGH                          1521141
ZIP CODE                         1520867
LATITUDE                         1956597
LONGITUDE                        1956597
LOCATION                         1956597
ON STREET NAME                   1720402
CROSS STREET NAME                1357852
OFF STREET NAME                   383978
NUMBER OF PERSONS INJURED        2196736
NUMBER OF PERSONS KILLED         2196723
NUMBER OF PEDESTRIANS INJURED    2196754
NUMBER OF PEDESTRIANS KILLED     2196754
NUMBER OF CYCLIST INJURED        2196754
NUMBER OF CYCLIST KILLED         2196754
NUMBER OF MOTORIST INJURED       2196754
NUMBER OF MOTORIST KILLED        2196754
CONTRIBUTING FACTOR VEHICLE 1    2189087
CONTRIBUTING FACTOR VEHICLE 2    1846020
CONTRIBUTING FACTOR VEHICLE 3     158775
CONTRIBUTING FACTOR VEHICLE 4      36216
CONTRIBUTING FACTOR VEHICLE 5       9912
COLLISION_ID                     2196754
VEHICLE TYPE CODE 1              2181002
VEHICLE TYPE CODE 2              1759250
VEHICLE TYPE CODE 3               152655
VEHICLE TYPE CODE 4                34912
VEHICLE TYPE CODE 5                 9604
dtype: int64

In [11]:
# Dropping rows with few missing values
new_df.dropna(axis=0,subset=['NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED', 'CONTRIBUTING FACTOR VEHICLE 1', 'VEHICLE TYPE CODE 1'], inplace=True)

In [12]:
new_df.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                           671295
ZIP CODE                          671567
LATITUDE                          238524
LONGITUDE                         238524
LOCATION                          238524
ON STREET NAME                    471719
CROSS STREET NAME                 831901
NUMBER OF PERSONS INJURED              0
NUMBER OF PERSONS KILLED               0
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1          0
CONTRIBUTING FACTOR VEHICLE 2     334800
CONTRIBUTING FACTOR VEHICLE 3    2019943
CONTRIBUTING FACTOR VEHICLE 4    2142081
CONTRIBUTING FACTOR VEHICLE 5    2168209
COLLISION_ID                           0
VEHICLE TYPE CODE 1                    0
VEHICLE TYPE CODE 2               420252
VEHICLE TYPE CODE 3              2025392
VEHICLE TYPE CODE 4              2143127
VEHICLE TYPE CODE 5              2168434
dtype: int64

In [13]:
#filling location data missing values with 'UNKNOWN' or 0 for numerical values as they are critical for analysis
new_df.fillna({'BOROUGH': 'UNKNOWN', 'ZIP CODE': 'UNKNOWN', 'LATITUDE': 0, 'LONGITUDE': 0, 'LOCATION': 'UNKNOWN', 'ON STREET NAME': 'UNKNOWN', 'CROSS STREET NAME': 'UNKNOWN'}, inplace=True)

In [14]:
new_df.isnull().sum()

CRASH DATE                             0
CRASH TIME                             0
BOROUGH                                0
ZIP CODE                               0
LATITUDE                               0
LONGITUDE                              0
LOCATION                               0
ON STREET NAME                         0
CROSS STREET NAME                      0
NUMBER OF PERSONS INJURED              0
NUMBER OF PERSONS KILLED               0
NUMBER OF PEDESTRIANS INJURED          0
NUMBER OF PEDESTRIANS KILLED           0
NUMBER OF CYCLIST INJURED              0
NUMBER OF CYCLIST KILLED               0
NUMBER OF MOTORIST INJURED             0
NUMBER OF MOTORIST KILLED              0
CONTRIBUTING FACTOR VEHICLE 1          0
CONTRIBUTING FACTOR VEHICLE 2     334800
CONTRIBUTING FACTOR VEHICLE 3    2019943
CONTRIBUTING FACTOR VEHICLE 4    2142081
CONTRIBUTING FACTOR VEHICLE 5    2168209
COLLISION_ID                           0
VEHICLE TYPE CODE 1                    0
VEHICLE TYPE CODE 2               420252
VEHICLE TYPE CODE 3              2025392
VEHICLE TYPE CODE 4              2143127
VEHICLE TYPE CODE 5              2168434
dtype: int64

In [15]:
# Remaining null values are most likely from single vehicle crashes so I will fill them with "no second vehicle" and so on
new_df.fillna({'CONTRIBUTING FACTOR VEHICLE 2': 'NO SECOND VEHICLE', 'CONTRIBUTING FACTOR VEHICLE 3': 'NO THIRD VEHICLE', 'CONTRIBUTING FACTOR VEHICLE 4': 'NO FOURTH VEHICLE', 'CONTRIBUTING FACTOR VEHICLE 5': 'NO FIFTH VEHICLE', 'VEHICLE TYPE CODE 2': 'NO SECOND VEHICLE', 'VEHICLE TYPE CODE 3': 'NO THIRD VEHICLE', 'VEHICLE TYPE CODE 4': 'NO FOURTH VEHICLE', 'VEHICLE TYPE CODE 5': 'NO FIFTH VEHICLE'}, inplace=True)

In [16]:
new_df.isnull().sum()

CRASH DATE                       0
CRASH TIME                       0
BOROUGH                          0
ZIP CODE                         0
LATITUDE                         0
LONGITUDE                        0
LOCATION                         0
ON STREET NAME                   0
CROSS STREET NAME                0
NUMBER OF PERSONS INJURED        0
NUMBER OF PERSONS KILLED         0
NUMBER OF PEDESTRIANS INJURED    0
NUMBER OF PEDESTRIANS KILLED     0
NUMBER OF CYCLIST INJURED        0
NUMBER OF CYCLIST KILLED         0
NUMBER OF MOTORIST INJURED       0
NUMBER OF MOTORIST KILLED        0
CONTRIBUTING FACTOR VEHICLE 1    0
CONTRIBUTING FACTOR VEHICLE 2    0
CONTRIBUTING FACTOR VEHICLE 3    0
CONTRIBUTING FACTOR VEHICLE 4    0
CONTRIBUTING FACTOR VEHICLE 5    0
COLLISION_ID                     0
VEHICLE TYPE CODE 1              0
VEHICLE TYPE CODE 2              0
VEHICLE TYPE CODE 3              0
VEHICLE TYPE CODE 4              0
VEHICLE TYPE CODE 5              0
dtype: int64

In [17]:
new_df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,09/11/2021,2:39,UNKNOWN,UNKNOWN,0.000000,0.000000,UNKNOWN,WHITESTONE EXPRESSWAY,20 AVENUE,2.0,...,Unspecified,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4455765,Sedan,Sedan,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE
1,03/26/2022,11:45,UNKNOWN,UNKNOWN,0.000000,0.000000,UNKNOWN,QUEENSBORO BRIDGE UPPER,UNKNOWN,1.0,...,NO SECOND VEHICLE,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4513547,Sedan,NO SECOND VEHICLE,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE
2,11/01/2023,1:29,BROOKLYN,11230.0,40.621790,-73.970024,"(40.62179, -73.970024)",OCEAN PARKWAY,AVENUE K,1.0,...,Unspecified,Unspecified,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4675373,Moped,Sedan,Sedan,NO FOURTH VEHICLE,NO FIFTH VEHICLE
3,06/29/2022,6:55,UNKNOWN,UNKNOWN,0.000000,0.000000,UNKNOWN,THROGS NECK BRIDGE,UNKNOWN,0.0,...,Unspecified,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4541903,Sedan,Pick-up Truck,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE
4,09/21/2022,13:21,UNKNOWN,UNKNOWN,0.000000,0.000000,UNKNOWN,BROOKLYN BRIDGE,UNKNOWN,0.0,...,Unspecified,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4566131,Station Wagon/Sport Utility Vehicle,NO SECOND VEHICLE,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2196749,08/05/2025,18:55,STATEN ISLAND,10314.0,40.606860,-74.115790,"(40.60686, -74.11579)",TODT HILL RD,FINE BLVD,1.0,...,Unspecified,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4833195,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE
2196750,08/05/2025,6:30,UNKNOWN,UNKNOWN,40.743477,-73.732860,"(40.743477, -73.73286)",GRAND CENTRAL PKWY,UNKNOWN,0.0,...,Unspecified,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4833298,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE
2196751,08/05/2025,11:14,UNKNOWN,UNKNOWN,40.786358,-73.794685,"(40.786358, -73.794685)",CROSS ISLAND PARKWAY,UNKNOWN,5.0,...,Unspecified,Unspecified,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4833329,Sedan,Sedan,Pick-up Truck,NO FOURTH VEHICLE,NO FIFTH VEHICLE
2196752,08/05/2025,11:28,BROOKLYN,11226.0,40.652645,-73.949770,"(40.652645, -73.94977)",NOSTRAND AVE,LINDEN BLVD,0.0,...,NO SECOND VEHICLE,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4833168,Sedan,Sedan,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE
2196753,08/05/2025,17:18,UNKNOWN,UNKNOWN,40.835484,-73.949400,"(40.835484, -73.9494)",HENRY HUDSON PARKWAY,UNKNOWN,1.0,...,Unspecified,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4833234,Sedan,Sedan,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE

## Correcting data types

In [18]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2178036 entries, 0 to 2196753
Data columns (total 28 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   NUMBER OF PERSONS INJURED      float64
 10  NUMBER OF PERSONS KILLED       float64
 11  NUMBER OF PEDESTRIANS INJURED  int64
 12  NUMBER OF PEDESTRIANS KILLED   int64
 13  NUMBER OF CYCLIST INJURED      int64
 14  NUMBER OF CYCLIST KILLED       int64
 15  NUMBER OF MOTORIST INJURED     int64
 16  NUMBER OF MOTORIST KILLED      int64
 17  CONTRIBUTING FACTOR VEHICLE 1  object
 18  CONTRIBUTING FACTOR VEHICLE 2  object
 19  CONTRIBUTING FACTOR VEHICLE 3  object
 20  CONTRIBUTING FACTOR VEHICLE 4  object
 21  CONTRIBUTING FACTOR VEHICLE 5  object
 22  COLLISION_ID                   int64
 23  VEHICLE TYPE CODE 1            object
 24  VEHICLE TYPE CODE 2            object
 25  VEHICLE TYPE CODE 3            object
 26  VEHICLE TYPE CODE 4            object
 27  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(17)
memory usage: 481.9+ MB

In [19]:

new_df['CRASH DATE'] = pd.to_datetime(new_df['CRASH DATE'])
new_df['CRASH TIME'] = pd.to_datetime(new_df['CRASH TIME'], format='%H:%M').dt.time
new_df['NUMBER OF PERSONS INJURED'] = new_df['NUMBER OF PERSONS INJURED'].astype('Int64')
new_df['NUMBER OF PERSONS KILLED'] = new_df['NUMBER OF PERSONS KILLED'].astype('Int64')
new_df['BOROUGH'] = new_df['BOROUGH'].astype('category')
new_df['ZIP CODE'] = new_df['ZIP CODE'].astype('category')
new_df['ON STREET NAME'] = new_df['ON STREET NAME'].astype('category')
new_df['CROSS STREET NAME'] = new_df['CROSS STREET NAME'].astype('category')
new_df['CONTRIBUTING FACTOR VEHICLE 1'] = new_df['CONTRIBUTING FACTOR VEHICLE 1'].astype('category')
new_df['CONTRIBUTING FACTOR VEHICLE 2'] = new_df['CONTRIBUTING FACTOR VEHICLE 2'].astype('category')
new_df['CONTRIBUTING FACTOR VEHICLE 3'] = new_df['CONTRIBUTING FACTOR VEHICLE 3'].astype('category')
new_df['CONTRIBUTING FACTOR VEHICLE 4'] = new_df['CONTRIBUTING FACTOR VEHICLE 4'].astype('category')
new_df['CONTRIBUTING FACTOR VEHICLE 5'] = new_df['CONTRIBUTING FACTOR VEHICLE 5'].astype('category')
new_df['VEHICLE TYPE CODE 1'] = new_df['VEHICLE TYPE CODE 1'].astype('category')
new_df['VEHICLE TYPE CODE 2'] = new_df['VEHICLE TYPE CODE 2'].astype('category')
new_df['VEHICLE TYPE CODE 3'] = new_df['VEHICLE TYPE CODE 3'].astype('category')
new_df['VEHICLE TYPE CODE 4'] = new_df['VEHICLE TYPE CODE 4'].astype('category')
new_df['VEHICLE TYPE CODE 5'] = new_df['VEHICLE TYPE CODE 5'].astype('category')

##  Cleaning Text/Categorical Data

In [20]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2178036 entries, 0 to 2196753
Data columns (total 28 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     datetime64[ns]
 1   CRASH TIME                     object
 2   BOROUGH                        category
 3   ZIP CODE                       category
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 category
 8   CROSS STREET NAME              category
 9   NUMBER OF PERSONS INJURED      Int64
 10  NUMBER OF PERSONS KILLED       Int64
 11  NUMBER OF PEDESTRIANS INJURED  int64
 12  NUMBER OF PEDESTRIANS KILLED   int64
 13  NUMBER OF CYCLIST INJURED      int64
 14  NUMBER OF CYCLIST KILLED       int64
 15  NUMBER OF MOTORIST INJURED     int64
 16  NUMBER OF MOTORIST KILLED      int64
 17  CONTRIBUTING FACTOR VEHICLE 1  category
 18  CONTRIBUTING FACTOR VEHICLE 2  category
 19  CONTRIBUTING FACTOR VEHICLE 3  category
 20  CONTRIBUTING FACTOR VEHICLE 4  category
 21  CONTRIBUTING FACTOR VEHICLE 5  category
 22  COLLISION_ID                   int64
 23  VEHICLE TYPE CODE 1            category
 24  VEHICLE TYPE CODE 2            category
 25  VEHICLE TYPE CODE 3            category
 26  VEHICLE TYPE CODE 4            category
 27  VEHICLE TYPE CODE 5            category
dtypes: Int64(2), category(14), datetime64[ns](1), float64(2), int64(7), object(2)
memory usage: 296.5+ MB

In [21]:
df['BOROUGH'] = df['BOROUGH'].str.strip().str.title()
new_df['BOROUGH'] = new_df['BOROUGH'].str.strip().str.title()
df['BOROUGH'] = df['BOROUGH'].replace('0', 'UNKNOWN')
new_df['BOROUGH'] = new_df['BOROUGH'].replace('0', 'UNKNOWN')  
df['BOROUGH'] = df['BOROUGH'].replace('Unspecified', 'UNKNOWN')
new_df['BOROUGH'] = new_df['BOROUGH'].replace('Unspecified', 'UNKNOWN')
print(new_df['BOROUGH'].value_counts())
print(new_df['BOROUGH'].unique())
print(df['BOROUGH'].value_counts())
print(df['BOROUGH'].unique())

BOROUGH
Unknown          671295
Brooklyn         482181
Queens           404603
Manhattan        334112
Bronx            222580
Staten Island     63265
Name: count, dtype: int64
['Unknown' 'Brooklyn' 'Bronx' 'Manhattan' 'Queens' 'Staten Island']
BOROUGH
Brooklyn         486872
Queens           407790
Manhattan        337461
Bronx            225273
Staten Island     63745
Name: count, dtype: int64
[nan 'Brooklyn' 'Bronx' 'Manhattan' 'Queens' 'Staten Island']

## Filtering Data

In [22]:
# filtering by age
adults = new_df[new_df['NUMBER OF PERSONS INJURED'] >= 18]
adults.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
10527,2021-09-04,14:45:00,Staten Island,10304.0,40.625510,-74.07599,"(40.62551, -74.07599)",BROAD STREET,BROWNELL STREET,18,...,Unspecified,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4459119,Sedan,School Bus,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE
142167,2023-03-17,21:22:00,Queens,11428.0,40.718930,-73.73439,"(40.71893, -73.73439)",220 STREET,JAMAICA AVENUE,23,...,Unspecified,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4616707,Station Wagon/Sport Utility Vehicle,Bus,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE
146216,2022-07-21,05:56:00,Unknown,UNKNOWN,0.000000,0.00000,UNKNOWN,HUTCHINSON RIVER PARKWAY RAMP,UNKNOWN,40,...,NO SECOND VEHICLE,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4552186,Bus,NO SECOND VEHICLE,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE
218879,2023-01-02,20:59:00,Unknown,UNKNOWN,40.867012,-73.92312,"(40.867012, -73.92312)",BROADWAY,UNKNOWN,21,...,Unspecified,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4596684,Station Wagon/Sport Utility Vehicle,NO SECOND VEHICLE,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE
230834,2023-04-07,22:24:00,Queens,11361.0,40.759580,-73.76894,"(40.75958, -73.76894)",BELL BOULEVARD,45 ROAD,34,...,Unspecified,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4619206,Bus,Box Truck,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE

In [23]:
adults.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27 entries, 10527 to 2175363
Data columns (total 28 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CRASH DATE                     27 non-null     datetime64[ns]
 1   CRASH TIME                     27 non-null     object
 2   BOROUGH                        27 non-null     object
 3   ZIP CODE                       27 non-null     category
 4   LATITUDE                       27 non-null     float64
 5   LONGITUDE                      27 non-null     float64
 6   LOCATION                       27 non-null     object
 7   ON STREET NAME                 27 non-null     category
 8   CROSS STREET NAME              27 non-null     category
 9   NUMBER OF PERSONS INJURED      27 non-null     Int64
 10  NUMBER OF PERSONS KILLED       27 non-null     Int64
 11  NUMBER OF PEDESTRIANS INJURED  27 non-null     int64
 12  NUMBER OF PEDESTRIANS KILLED   27 non-null     int64
 13  NUMBER OF CYCLIST INJURED      27 non-null     int64
 14  NUMBER OF CYCLIST KILLED       27 non-null     int64
 15  NUMBER OF MOTORIST INJURED     27 non-null     int64
 16  NUMBER OF MOTORIST KILLED      27 non-null     int64
 17  CONTRIBUTING FACTOR VEHICLE 1  27 non-null     category
 18  CONTRIBUTING FACTOR VEHICLE 2  27 non-null     category
 19  CONTRIBUTING FACTOR VEHICLE 3  27 non-null     category
 20  CONTRIBUTING FACTOR VEHICLE 4  27 non-null     category
 21  CONTRIBUTING FACTOR VEHICLE 5  27 non-null     category
 22  COLLISION_ID                   27 non-null     int64
 23  VEHICLE TYPE CODE 1            27 non-null     category
 24  VEHICLE TYPE CODE 2            27 non-null     category
 25  VEHICLE TYPE CODE 3            27 non-null     category
 26  VEHICLE TYPE CODE 4            27 non-null     category
 27  VEHICLE TYPE CODE 5            27 non-null     category
dtypes: Int64(2), category(13), datetime64[ns](1), float64(2), int64(7), object(3)
memory usage: 1.6+ MB

In [24]:
"""
Adults are more likely to be involved in accidents due to their higher presence on the roads,
whether as drivers or pedestrians.
"""

'\nAdults are more likely to be involved in accidents due to their higher presence on the roads,\nwhether as drivers or pedestrians.\n'

In [25]:
# filtering by borrow
manhattan_accidents = new_df[new_df['BOROUGH'] == 'Manhattan']
manhattan_accidents.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
15,2021-12-14,14:58:00,Manhattan,10017.0,40.751440,-73.973970,"(40.75144, -73.97397)",3 AVENUE,EAST 43 STREET,0,...,Unspecified,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4486519,Sedan,Station Wagon/Sport Utility Vehicle,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE
26,2021-12-11,04:45:00,Manhattan,10001.0,40.748917,-73.993546,"(40.748917, -73.993546)",UNKNOWN,UNKNOWN,0,...,Unspecified,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4486905,Station Wagon/Sport Utility Vehicle,NO SECOND VEHICLE,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE
62,2022-04-24,15:35:00,Manhattan,10019.0,40.767242,-73.986206,"(40.767242, -73.986206)",WEST 56 STREET,9 AVENUE,1,...,Unspecified,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4521853,Station Wagon/Sport Utility Vehicle,Bike,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE
75,2022-04-07,14:14:00,Manhattan,10017.0,40.748158,-73.970330,"(40.748158, -73.97033)",1 AVENUE,EAST 41 STREET,0,...,Passing or Lane Usage Improper,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4522242,Sedan,Station Wagon/Sport Utility Vehicle,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE
82,2021-12-08,16:20:00,Manhattan,10128.0,40.776237,-73.943825,"(40.776237, -73.943825)",EAST END AVENUE,EAST 88 STREET,0,...,Unspecified,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE,4485234,Taxi,Station Wagon/Sport Utility Vehicle,NO THIRD VEHICLE,NO FOURTH VEHICLE,NO FIFTH VEHICLE

In [26]:
manhattan_accidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334112 entries, 15 to 2196746
Data columns (total 28 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     334112 non-null  datetime64[ns]
 1   CRASH TIME                     334112 non-null  object
 2   BOROUGH                        334112 non-null  object
 3   ZIP CODE                       334112 non-null  category
 4   LATITUDE                       334112 non-null  float64
 5   LONGITUDE                      334112 non-null  float64
 6   LOCATION                       334112 non-null  object
 7   ON STREET NAME                 334112 non-null  category
 8   CROSS STREET NAME              334112 non-null  category
 9   NUMBER OF PERSONS INJURED      334112 non-null  Int64
 10  NUMBER OF PERSONS KILLED       334112 non-null  Int64
 11  NUMBER OF PEDESTRIANS INJURED  334112 non-null  int64
 12  NUMBER OF PEDESTRIANS KILLED   334112 non-null  int64
 13  NUMBER OF CYCLIST INJURED      334112 non-null  int64
 14  NUMBER OF CYCLIST KILLED       334112 non-null  int64
 15  NUMBER OF MOTORIST INJURED     334112 non-null  int64
 16  NUMBER OF MOTORIST KILLED      334112 non-null  int64
 17  CONTRIBUTING FACTOR VEHICLE 1  334112 non-null  category
 18  CONTRIBUTING FACTOR VEHICLE 2  334112 non-null  category
 19  CONTRIBUTING FACTOR VEHICLE 3  334112 non-null  category
 20  CONTRIBUTING FACTOR VEHICLE 4  334112 non-null  category
 21  CONTRIBUTING FACTOR VEHICLE 5  334112 non-null  category
 22  COLLISION_ID                   334112 non-null  int64
 23  VEHICLE TYPE CODE 1            334112 non-null  category
 24  VEHICLE TYPE CODE 2            334112 non-null  category
 25  VEHICLE TYPE CODE 3            334112 non-null  category
 26  VEHICLE TYPE CODE 4            334112 non-null  category
 27  VEHICLE TYPE CODE 5            334112 non-null  category
dtypes: Int64(2), category(13), datetime64[ns](1), float64(2), int64(7), object(3)
memory usage: 49.0+ MB

In [27]:
"""
Manhattan is known for its high population density,extensive road network, and significant vehicular traffic,
so it is expected to have a high number of accidents.
"""

'\nManhattan is known for its high population density,extensive road network, and significant vehicular traffic,\nso it is expected to have a high number of accidents.\n'

## Grouping data

In [28]:
# total injured by borough
total_injured_by_borough = new_df.groupby('BOROUGH')['NUMBER OF PERSONS INJURED'].sum()
total_injured_by_borough

BOROUGH
Bronx             75374
Brooklyn         165614
Manhattan         74077
Queens           126533
Staten Island     18755
Unknown          241588
Name: NUMBER OF PERSONS INJURED, dtype: Int64

In [29]:
#  pivot table for inured by borough
total_injured_by_borough_df = total_injured_by_borough.reset_index()
total_injured_by_borough_df

         BOROUGH  NUMBER OF PERSONS INJURED
0          Bronx                      75374
1       Brooklyn                     165614
2      Manhattan                      74077
3         Queens                     126533
4  Staten Island                      18755
5        Unknown                     241588

In [30]:
collisions_per_year = new_df['CRASH DATE'].dt.year.value_counts().sort_index()
collisions_per_year

CRASH DATE
2012    100540
2013    203376
2014    204820
2015    216848
2016    226584
2017    229515
2018    230017
2019    209952
2020    111734
2021    109160
2022    102308
2023     94921
2024     89603
2025     48658
Name: count, dtype: int64

In [31]:
collisions_per_year_df = collisions_per_year.reset_index()
collisions_per_year_df

    CRASH DATE   count
0         2012  100540
1         2013  203376
2         2014  204820
3         2015  216848
4         2016  226584
5         2017  229515
6         2018  230017
7         2019  209952
8         2020  111734
9         2021  109160
10        2022  102308
11        2023   94921
12        2024   89603
13        2025   48658

## correlation matrix

In [32]:
correlation_matrix = new_df[['NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED']].corr()
correlation_matrix

                           NUMBER OF PERSONS INJURED  NUMBER OF PERSONS KILLED
NUMBER OF PERSONS INJURED                   1.000000                  0.014533
NUMBER OF PERSONS KILLED                    0.014533                  1.000000

In [33]:
# in numpy
np.corrcoef(new_df['NUMBER OF PERSONS INJURED'], new_df['NUMBER OF PERSONS KILLED'])

array([[1.        , 0.01453302],
       [0.01453302, 1.        ]])

## Statistical summaries

In [34]:
# for numerical columns
new_df.describe()

,CRASH DATE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
count,2178036,2.178036e+06,2.178036e+06,2178036.0,2178036.0,2.178036e+06,2.178036e+06,2.178036e+06,2.178036e+06,2.178036e+06,2.178036e+06,2.178036e+06
mean,2017-12-08 15:39:07.736400640,3.615473e+01,-6.563229e+01,0.322282,0.001552,5.453170e-02,7.580224e-04,2.888612e-02,1.244240e-04,2.345861e-01,6.423218e-04,3.243379e+06
min,2012-07-01 00:00:00,0.000000e+00,-2.013600e+02,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.200000e+01
25%,2015-03-06 00:00:00,4.063989e+01,-7.396733e+01,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.182329e+06
50%,2017-08-09 00:00:00,4.070744e+01,-7.391460e+01,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.731674e+06
75%,2020-01-27 00:00:00,4.076301e+01,-7.383062e+01,0.0,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.280379e+06
max,2025-08-05 00:00:00,4.334444e+01,0.000000e+00,43.0,8.0,2.700000e+01,6.000000e+00,4.000000e+00,2.000000e+00,4.300000e+01,5.000000e+00,4.833511e+06
std,NaN,1.285307e+01,2.334933e+01,0.71272,0.041608,2.403578e-01,2.816488e-02,1.696924e-01,1.119495e-02,6.758297e-01,2.767444e-02,1.510861e+06

In [35]:
# Top contributing factors
new_df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts().head()

CONTRIBUTING FACTOR VEHICLE 1
Unspecified                       734133
Driver Inattention/Distraction    442058
Failure to Yield Right-of-Way     129497
Following Too Closely             117740
Backing Unsafely                   79769
Name: count, dtype: int64

In [36]:
# percentage of crashes with injuries
percentage_with_injuries = (new_df['NUMBER OF PERSONS INJURED'] > 0).mean() * 100
percentage_with_injuries

np.float64(23.667652876261)

## Exporting Raw and Cleaned Data

In [37]:
# raw dataframe to json
df.to_json('collisions_raw.json', orient='records', lines=True)

In [ ]:
# exporting cleaned dataframe to json
new_df.to_json('motor_cleaned.json', orient='records', lines=True)

In [ ]:
# there was an error here so I fixed it by converting categorical columns to string
# cleaned dataframe to parquet

categorical_columns = ['BOROUGH', 'ZIP CODE', 'ON STREET NAME', 'CROSS STREET NAME',
                      'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
                      'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
                      'CONTRIBUTING FACTOR VEHICLE 5', 'VEHICLE TYPE CODE 1',
                      'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
                      'VEHICLE TYPE CODE 5']

export_df = new_df.copy()
for col in categorical_columns:
    export_df[col] = export_df[col].astype(str)

export_df.to_parquet('collisions_cleaned.parquet')

In [ ]:
# raw dataframe to parquet

parquet_df = df.copy()
for col in categorical_columns:
    parquet_df[col] = parquet_df[col].astype(str)
parquet_df.to_parquet('collisions_raw.parquet')